body {
    text-align: center;
}

.table {
    display: flex;
    justify-content: center;
}

.btn {
    height: 20vh;
    width: 20vh;
    border-radius: 20%;
    border: 0.5rem solid black;
    margin: 1rem;
}

.red {
    background-color: #f71111;
}

.green {
    background-color: #02bd11;
}

.orange {
    background-color: #fc5603;
}

.blue {
    background-color: #057bfa;
}

.flash {
    background-color: white;
}

.alert {
    background-color: red;
}

.black {
    background-color: black;
}

.start {
    background-color: #02bd11;
    height: 3rem;
    width: 10rem;
    border-radius: 20rem;
    border: 2px solid black;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: 2px 2px 5px black;
}

.start:active {
    height: 2.9rem;
    width: 9.9rem;
    box-shadow: 0 0 0;
}

@media (max-width: 50rem) {

    .btn {
        height: 15vh;
        width: 15vh;
        border-radius: 20%;
        border: 0.5rem solid black;
        margin: 1rem;
    }
}