body {
    background-color: black;
}

.calc {
    border: 0.1rem solid black;
    position: absolute;
    align-items: center;
    left: 30%;
    top: 5%;
    height: 32rem;
    width: 25rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 20px;
    background: #1e1e1e;
    box-shadow: 15px 15px 30px rgb(60, 60, 60),
        -15px -15px 30px rgb(60, 60, 60);
}

.screen {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: black;
    height: 4rem;
    width: 22.8rem;
    border-radius: 5px 5px 5px 5px;
    color: aliceblue;
}

.inp {
    height: 25rem;
    width: 23.7rem;
    background-color: #2a2a2a;
    position: absolute;
    bottom: 0;
    display: grid;
    border-radius: 0 0 20px 20px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px 10px;
    padding: 10px 10px 10px 10px;
}

.btn {
    /* border: 0.01rem solid black; */
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
    text-align: center;
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 50%;
    background: linear-gradient(145deg, #252525, #2c2c2c);
    box-shadow: 10px 10px 20px #1e1e1e,
        -5px 0px 20px #4e4e4e;
    padding: 30px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn i {
    position: relative;
    top: -5px;
}

.btn:hover {
    position: relative;
    left: -1px;
    bottom: 1px;
    box-shadow: 15px 15px 20px #1e1e1e,
        -5px 0px 20px #3e3e3e;
}

.btn:active {
    position: relative;
    left: 0px;
    top: 0px;
    box-shadow: 0px 0px 0px #1e1e1e,
        -5px 0px 20px #3e3e3e;
}

.equal {
    margin-top: 0.5em;
    grid-column: 3 / span 2;
    height: 0rem;
    width: 6.25rem;
    border-radius: 10px;
    background: orange;
    color: #1e1e1e;
    padding-top: 25px;
    box-shadow: 15px 15px 20px #1e1e1e,
        -10px 0px 20px #4e4e4e;
}

.num {
    color: white;
}

.ac,
.del {
    color: rgb(150, 149, 149);
}

.op {
    color: greenyellow;
}

.user-inp {
    height: 50%;
    width: 100%;
    text-align: right;
}

.user-inp p {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.8rem;
}